<h2> You are on the homepage</h2>
{{#if posts.length}}

  <div class="list-group">
    {{#each posts as |post|}}
      <a
        href="/post/{{post.id}}"
        class="list-group-item list-group-item-action"
      >
        <small>By: {{post.user.username}} on {{format_date created_at}}</small>
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{post.title}}</h5>
        </div>
        {{#if post.comments.length}}
          <small>{{post.comments.length}} Comment(s)</small>
        {{/if}}
      </a>
    {{/each}}
  </div>
{{else}}
  <h2>There are no posts to view</h2>
{{/if}}